

h1{
  text-align: center;
  margin: 10px;
}

nav{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link{
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

.nav-link:hover{
  color: blue;
}
.nav-link:focus{
  color: orange;
}

section{
  display: grid;
  grid-gap: 1.5rem;
  margin: 20px;
}
article{
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  section{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  section{
    grid-template-columns: repeat(3, 1fr);
  }
}
